.appWrapper {
  background: var(--bg-color);
  color: var(--text-color);
}

.mainContent {
  padding: 2rem;
  max-width: 1400px;
  margin: 0 auto;
}
@media (max-width: 450px) {
  .mainContent {
    padding: 0 2rem;
  }
}